
a{
    text-decoration: none;
}

.wrapper{
    width: 100%;
    height: 800px;
}

.wrapper .row{
    width: 100%;
    margin: 0;
}
.wrapper .row .row2{
    width: 100%;
    position: relative;
}

/* 검색 */
.wrapper .row .row2 .search_area{
    width: 20%;
    margin-left: 50px;
    position: fixed;
    z-index: 10;
}
.wrapper .row .row2 .search_area .text-center{
    width: 15%;
    display: flex;
    border-radius: 15px;
    margin-top: 100px;
    transition-duration: .5s;
}
.wrapper .row .row2 .search_area .text-center > input{
    width: 100% ;
    border: none;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0, .7) ;
    padding: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #fff;
}

.wrapper .row .row2 .search_area .text-center > button {
    width: 20%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0, .7) ;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: purple;
    font-size: 30px;
}
.wrapper .row .row2 .search_area .text-center > button i{
	width:100%;
	opacity: 0;
    transition-duration: .3s;
    display: block;
}
.wrapper .row .row2 .search_area .text-center > button:hover{
    cursor: pointer;
}

.wrapper .row .row2 .search_area .text-center:hover{
    width: 80% ;
}
.wrapper .row .row2 .search_area .text-center:hover i{
	opacity: 1;
    width: 0px;

}

/* 지도 */
.wrapper .content{
    width: 100%;
    margin: 50px auto 0;
    height: 100vh;
}

.wrapper .content .mapArea{
    height: 100%;
    width: 100%;
}
.wrapper .content .mapArea .map_wrap{
    width: 100%;
    margin: 0 auto;
    height: 100%;

}
.wrapper .content .mapArea .map_wrap #map{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}

/* 매물 */
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: #ebc0d9;border-bottom: 1px solid #ebc0d9;font-size: 18px;font-weight: bold;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        display:-webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png'); }
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;}
