@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
.ft {
    font-family: 'Noto Sans KR', sans-serif;
}
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 }
 .mainFont{
	font-family: 'TmoneyRoundWindExtraBold';
} 
 
.wrapper{
    margin: 0 auto;
    
}

nav{

    width:100%;
    height:100px;
    
    background-color: rgba(255, 255, 255, .5);
    z-index: 10;
    position:fixed;
    opacity: 0.9;
    
}

nav > * {

    float: left;
    line-height: 50px;
}

.loginBtn{
	background-color: rgb(174, 160, 236); 
	border: rgb(174, 160, 236);
}


/* 로고영역 */
.logo_area{
    width: 20%;
    height: 100%;
    text-align : center;
}

#logo_img{
    width: 100px;
}


/* 메뉴영역 */
.menu_area{
    margin:0;
    padding:0;
    /* 영역의 고유한 마진과 패딩을 모두 제거 */
    width:60%;
    height: 100%;
    list-style-type:none;
 
}

/* 메뉴 영역 카테고리 */
.menu_area > li{
    float: left;
    width : 30%;
    height: 100%; 
}

/* 메뉴 영역 카테고리의 a태그 영역 지정 */
.menu_area > li > a{

    display:block;
    width:100%;
    height: 100%;
    line-height: 100px;
    text-align:center;
    text-decoration: none;
}
.menu_area >li:hover{
    background-color: rgb(174, 160, 236);
}
.menu_area ul>li:hover{
    background-color: rgb(112, 94, 194);
}

.menu_area>li>ul{
    padding:0px;
    margin:0px;
    width:100%;
  
    list-style-type:none;
    background-color: rgb(174, 160, 236);
    
    opacity:0;
}

.menu_area ul>li>a{
    opacity:0;
}

.menu_area ul>li{
    height:0;
    line-height: 0;
    border-radius:10px;
}
.menu_area >li:hover ul, .menu_area > li:hover ul a{
    opacity: 1;
}
.menu_area li:hover ul li{
    text-align:center;
    height:40px;
    line-height:40px;
}

.menu_area li{
    transition-duration: 0.5s;
}
.main_area li ul{
    transition-duration: 0.5s;
}

/* 로그인 영역 */
.login_area{
    width : 20%;
    height: 100%;
    text-align : center;
    font-size : 12px;
    color : black;
    padding-top : 30px;
}

.menu_area a,
.login_area a{
    text-decoration: none;
    color: black;
    height : 100%;
    font-weight : bold;
}



/* visual */
.visual{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.visual .search_form{
    margin: 0 auto;
}
.visual .search_form .search{
    position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.visual .search_form .search > div{
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, .7) ;
    border-radius: 10px;
    width: 100%;
    display: flex;
    animation-name: slide-up3;
    animation-duration: 1.8s;
}
.visual .search_form .search input{
    width: 85%;
    font-size: 20px;
    padding: 20px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
.visual .search_form .search button{
    width: 15%;
    font-size: 20px;
    color: #000;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #f1f1f1;
}
.visual .slide li{
    position: relative;
    width: 100%;
    height: 100vh;
}
.visual .slide li img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}
.visual .slide li.slick-active img {
    animation-name: scaleani;
    animation-duration: 4.5s
}
.visual .slide li .mainTitle{
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.visual .slide li .mainTitle strong{
    font-size: 44px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px #000;
}
.visual .slide .slick-active .mainTitle strong{
    animation-name: slide-up;
    animation-duration: 1.5s;
}